@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
	font-family: "Plus Jakarta Sans", sans-serif;
	transition: 0.2s ease-in-out;
	--white-tr: #ffffffee;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(180deg, dodgerblue 0%, navajowhite 24%, #ff8f00 49%, darkmagenta 74%, #2e0887 100%); 
	width: 100%;
	background-size: 300% 300%;
	background-position: 0% 50%;
	height: 100vh;
	overflow: hidden;
}

h1 {
	color: white;
	text-shadow: 1px 0px 10px lightgray;
}

#name-input {
	text-align: center;
	width: 500px;
	height: 50px;
	font-size: 1.2rem;
	background: white !important;
	border: 1px solid lightgray;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

#main-container {
	display: none;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 2rem;
	width: 1000px;
	height: 500px;
}

#location-container {
	color: white;
	text-shadow: 1px 0px 10px lightgray;
	display: flex;
	position: absolute;
	top: 0;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 800px;
	height: 120px;
}

#name {
	font-size: 2rem;
}

#region {
	font-size: 1rem;
}

#country {
	font-size: 1.5rem;
}

#unit-swap {
	position: absolute;
	background: #ffffff;
	border: 1px solid lightgray;
	font-size: 1.2rem;
	font-weight: 500;
	top: 2rem;
	right: 2rem;
	z-index: 5;
	border-radius: 0.5rem;
	width: 50px;
	height: 50px;
}

#unit-swap:active {
	background: transparent;
}

#weather-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	width: 325px;
	height: 200px;
	background: var(--white-tr);
	border: 1px solid lightgray;
}

#temp {
	position: absolute;
	top: 2.5rem;
	left: 2rem;
	font-size: 3rem;
	font-weight: bold;
}

#weather-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	border: 1px solid lightgray;
	border-radius: 5rem;
	top: 2rem;
	right: 2rem;
	width: 80px;
	height: 80px;
}

#icon {
	width: 65px;
	height: 65px;
}

#feels-like {
	position: absolute;
	left: 2rem;
	top: 6rem;
}

#weather-condition {
	position: absolute;
	left: 2rem;
	top: 7.5rem;
	width: 250px;
	height: 50px;
	font-size: 1.2rem;
	font-weight: bold;
	color: gray;
}

#wind-title, #humidity-title, #pressure-title {
	position: absolute;
	top: 0;
	width: 150px;
	text-align: center;
	margin-top: 1rem;
	font-weight: bold;
}
#wind-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	width: 150px;
	height: 200px;
	background: var(--white-tr);
	border: 1px solid lightgray;
}

#wind-circle {
	width: 125px;
	height: 125px;
	margin-top: 1rem;
	background: var(--white-tr);
	border: 1px solid lightgray;
	box-shadow: 0px 0px 50px white;
	border-radius: 5rem;
}

#wind-arrow {
	width: 125px;
	height: 125px;
	z-index: 1;
	background: red;
	clip-path: polygon(50% 0%, 35% 10%, 50% 5%, 65% 10%);
	transform-origin: center;
	transition: 1s ease-in-out;
}

#wind {
	margin-top: 1rem;
	width: 75px;
	height: 70px;
	position: absolute;
	text-align: center;
	font-weight: bold;
}

#wind-degree {
	width: 75px;
	font-size: 2rem;
}

#wind-speed {
	font-size: 1rem;
	font-weight: 600;
	color: gray;
}

#wind-direction {
	font-size: 0.7rem;
	margin-left: 2.5rem;
	margin-bottom: -0.25rem;
}

#humidity-container {
	width: 150px;
	height: 200px;
	background: var(--white-tr);
	border: 1px solid lightgray;
	border-radius: 2rem;
	overflow: hidden;
}

#humidity-gauge {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 150px;
	z-index: -1;
	background: linear-gradient(0deg, springgreen, cyan, transparent 100%);
}

#humidity-percent {
	position: absolute;
	bottom: 1rem;
	width: 150px;
	text-align: center;
	align-items: center;
	font-size: 1.8rem;
	font-weight: bold;
}

#percipitation {
	color: gray;
	position: absolute;
	bottom: 1rem;
}

#pressure-container {
	width: 150px;
	height: 200px;
	background: var(--white-tr);
	border: 1px solid lightgray;
	border-radius: 2rem;
}

#pressure-gauge {
	margin: 4rem;
	display: flex;
	justify-content: center;
}

#gauge-bar {
	display: flex;
	align-content: center;
	justify-content: center;
	position: absolute;
	top: 3rem;
	margin-left: -0.5rem;
	width: 7.5px;
	height: 100px;
	border: 1px solid lightgray;
	border-radius: 2rem;
	background: transparent;
}

#ticks {
	position: absolute;
	top: 0.25rem;
	left: 0.75rem;
	width: 7.5px;
	height: 100px;
	background-size: 10px 10px;
	background-color: #ffffff10;
	background-image: linear-gradient(0deg, transparent 90%, lightgray 1px);
}

#indicator {
	position: absolute;
	bottom: 0%;
	width: 7.5px;
	height: 5px;
	background: red;
	border-radius: 5rem;
}

#pressure-unit {
	position: absolute;
	bottom: 0.5rem;
	align-content: center;
	line-height: 1.75rem;
	width: 150px;
	height: 50px;
	text-align: center;
	font-size: 1.5rem;
}

#last-updated {
	position: absolute;
	bottom: 0;
	width: 325px;
	height: 75px;
	font-size: 1.2rem;
	text-align: center;
	align-content: center;
	color: white;
	text-shadow: 1px 0px 10px lightgray;
}

.glass {
	border: 1px solid white;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
}

.reveal {
	animation: animateElem 0.5s linear;
	transition: 0.2s ease-in-out;
}

@keyframes animateElem {
	from {
		scale: 0;
		opacity: 0;
		margin-top: 50rem;
		transform: rotate3d(1, 1, 1, 270deg);
	}
	to {
		scale: 1;
		opacity: 1;
		margin-top: 0rem;
		transform: rotate3d(0);
	}
}

@keyframes dayToNight {
	from {
		background-position: 0% 50%;
	}
	to {
		background-position: 0% 100%;
	}
}

@keyframes nightToDay {
	from {
		background-position: 0% 50%;
	}
	to {
		background-position: 0% 0%;
	}
}